.box{
    width: 250px;
    height: 250px;
    background: blueviolet;
    margin: 10px
}

.home{
    padding: 20px;
    text-align: center;
}


.home button{
    background: red;
    color: #fff;
    padding: 10px
}