.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: orangered;
    color: white;
}

.navbar .nav-links{
    display: flex;
}

.navbar .nav-links li{
    margin: 10px;
    list-style: none;
    text-transform: uppercase;
}
.navbar .nav-links li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}